@font-face {
  font-family: "gotham-regular";
  src: url("../fonts/Gotham Pro/GothaProReg.otf"); }
@font-face {
  font-family: "gotham-thin";
  src: url("../fonts/Gotham Pro/GothaProLig.otf"); }
@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/Gotham Pro/GothaProBol.otf"); }
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/Gotham Pro/GothaProMed.otf"); }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

body {
  font-family: "gotham-medium", sans-serif;
  background-color: #f5f5f5; }

h1 {
  font-size: 11px;
  color: #777; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.container {
  padding: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

.sub_heading {
  font-size: 15px;
  color: #575757; }

.page_division {
  color: #eaeaea;
  border-width: 1px;
  margin: 15px 0px; }

.form-group {
  position: relative;
  margin-bottom: 5px; }
  .form-group a {
    text-decoration: none;
    color: #f07332; }
  .form-group .input-group-addon {
    font-size: 19px;
    font-family: "gotham-medium";
    letter-spacing: -0.5px;
    color: #ababab;
    background-color: #f9f9f9;
    padding-top: 8px;
    width: 52px;
    text-align: center; }
  .form-group .input-group {
    width: 100%;
    height: 46px; }
  .form-group input {
    border: solid 1px #b8b8b8;
    font-size: 19px;
    height: 46px;
    padding: 2px 0px 0px 10px; }
    .form-group input:focus {
      border-color: #f07322;
      box-shadow: 0px 0px #fff; }
  .form-group .input-logo {
    position: absolute;
    right: 0px;
    height: 16px;
    top: -2px; }
  .form-group .tez-logo {
    position: absolute;
    right: 0px;
    height: 30px;
    top: -11px; }

.at-the-rate {
  float: left; }

.field_label,
.control-label {
  font-size: 13px;
  display: block;
  color: #2e2e2e;
  letter-spacing: -0.13px;
  font-family: "gotham-medium";
  font-weight: normal;
  padding-top: 15px; }

.button {
  border-radius: 4px;
  border-width: 0px;
  padding: 7px;
  height: 46px;
  padding: 7px;
  font-size: 21px;
  color: white;
  background-color: #d8d8d8; }
  .button:focus {
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .button.fullwidth {
    width: 100%; }
  .button.primary {
    background-color: #f07322;
    color: #fff; }
  .button:disabled {
    background-color: #d8d8d8; }
  .button.white {
    border: solid 1px #e3e3e3;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 300;
    font-family: "gotham-thin";
    font-size: 14px;
    height: auto;
    padding: 4px 9px; }

.horizontal_tabs {
  padding: 0px;
  display: flex;
  max-width: 100%;
  overflow: auto;
  background-color: white;
  margin-bottom: 0px;
  border-top: 1px solid #d5d5d5;
  height: 56px;
  top: 90px;
  position: fixed; }
  .horizontal_tabs li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #d5d5d5;
    padding: 10px 25px;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #575757;
    cursor: pointer;
    background-color: #f5f5f5; }
    .horizontal_tabs li:first-child {
      border-left: none; }
    .horizontal_tabs li.active {
      color: #f07322;
      border-bottom-color: #f07322;
      background-color: white; }

.form_message {
  font-family: "gotham-thin";
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ababab; }

.cancel_transactions {
  text-align: center;
  margin: 17px 0px;
  height: 46px;
  background-color: #f3f3f3;
  border-radius: 4px; }
  .cancel_transactions span {
    margin-left: 10px;
    font-size: 15px;
    line-height: 3.38;
    letter-spacing: -0.2px;
    color: #b3b3b3;
    font-family: "gotham-regular"; }

@media (max-width: 479px) {
  .nav_bar {
    width: 100%;
    position: fixed;
    padding: 25px;
    height: 90px;
    background-color: #f5f5f5;
    z-index: 10; }
    .nav_bar img {
      width: auto;
      height: 40px;
      display: block;
      margin: auto; }
    .nav_bar .page_title {
      color: #575757;
      font-size: 14px;
      margin-left: 10px; }
    .nav_bar #nav_prev {
      position: absolute;
      left: 27px;
      top: 25px;
      font-size: 30px; }
    .nav_bar #nav_close {
      position: absolute;
      right: 27px;
      top: 30px;
      font-size: 20px; }
    .nav_bar #nav_account {
      position: absolute;
      right: 27px;
      top: 30px;
      font-size: 20px; }
      .nav_bar #nav_account img {
        height: 24px;
        opacity: 0.6; }

  .content {
    padding: 20px 25px 35px 25px;
    background-color: white; }

  .content-list {
    padding: 1px 25px;
    background-color: white; }
    .content-list .section-title {
      font-size: 13px;
      display: block;
      color: #ababab;
      letter-spacing: -0.13px;
      font-family: "gotham-medium";
      font-weight: normal;
      padding-top: 10px; }

  .content-grid {
    padding: 20px 25px 12px 25px;
    background-color: white; }

  .menu {
    padding: 0px;
    background-color: white; }

  .powered-by {
    width: 50%;
    margin: 17px auto 0px auto;
    display: block; }

  .billdesk-city {
    max-width: 100%;
    opacity: 0.8;
    z-index: -1; }

  .recharge_summary {
    padding: 15px 25px;
    border-bottom: 1px solid #d5d5d5;
    background-color: white; }
    .recharge_summary .field_label {
      display: block;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: -0.3px;
      color: #575757; }
    .recharge_summary > span {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
    .recharge_summary .operator img {
      height: 24px;
      width: auto;
      display: inline-block; }
    .recharge_summary .operator .operator_name {
      font-size: 16px;
      line-height: 2.75;
      letter-spacing: 0.1px;
      text-align: left;
      color: inherit;
      text-decoration: none; }
    .recharge_summary .cost {
      text-align: right; }
      .recharge_summary .cost .amount {
        font-size: 16px;
        line-height: 2.75;
        letter-spacing: 0.1px;
        text-align: left;
        color: #2e2e2e; }

  .secondary_button {
    text-align: center;
    margin: 17px 0px;
    height: 46px;
    background-color: #f3f3f3;
    border-radius: 4px; }
    .secondary_button span {
      margin-left: 5px;
      font-size: 15px;
      line-height: 3.38;
      letter-spacing: -0.2px;
      color: #b3b3b3;
      font-family: "gotham-regular"; }
    .secondary_button img {
      width: 18px;
      vertical-align: sub; }

  .disclaimer {
    font-size: 11px;
    font-family: "gotham-regular";
    letter-spacing: 0.1px;
    color: #afafaf;
    line-height: 17px;
    display: -webkit-inline-box;
    padding: 15px 0px;
    margin: 0px; }

  .padding-top-25 {
    padding-top: 25px; }

  #hovermenu {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: tomato;
    -webkit-transition: bottom 2s;
    transition: bottom 2s; }

  .buffer-div {
    height: 90px; }

  .plans-buffer {
    height: 146px; } }
@media (max-width: 479px) {
  .add_card_form > h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #343434;
    margin: 0px; }
  .add_card_form .card_extras {
    margin: 15px 0px; }
    .add_card_form .card_extras > div {
      display: inline-block;
      vertical-align: top; }
    .add_card_form .card_extras input {
      height: 46px;
      padding: 10px 15px;
      font-size: 20px;
      line-height: 16px; }
    .add_card_form .card_extras .valid_thru {
      width: 15%;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: -0.3px;
      color: #969696;
      margin-top: 8px; }
    .add_card_form .card_extras .card_validity {
      width: 49%; }
    .add_card_form .card_extras .card_cvv {
      width: 32%; }

  .supported_cards {
    border-top: solid 1px #e5e5e5; }
    .supported_cards h4 {
      font-weight: "gotham-thin";
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: center;
      color: #a1a1a1; }
    .supported_cards img {
      display: inline-block;
      vertical-align: top;
      width: 18%;
      padding: 4px; } }

/*# sourceMappingURL=addcard.css.map */
