@import "common";

@media (min-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
    .payment_status {
        font-size: 16px;
        letter-spacing: -0.5px;
        text-align: left;
        padding-top: 30px;
        .status_symbol {
            img{
              width: 20px;
            }
        }
        .status_message {
            display: inline-block;
            font-family: $thin-font;
            font-size: 22px;
            vertical-align: sub;
        }
        .success{
          color: #58ac15;
        }
        .failed{
          color: #E50600;
        }
        p {
            font-family: $regular-font;
            display: block;
            font-size: 14px;
        }
    }
    .payment_detail_block {
        padding: 10px 0px;
        label {
            // font-family: $thin-font;
            // font-size: 14px;
            // font-weight: 300;
            // line-height: 1.45;
            // letter-spacing: -0.3px;
            // text-align: left;
            // color: #575757;
            font-size: 13px;
            display: block;
            color: #ababab;
            letter-spacing: -0.13px;
            font-family: $regular-font;
            font-weight: normal;
            margin-bottom: 0px;
        }
        span {
            font-family: $regular-font;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.45;
            letter-spacing: -0.3px;
            text-align: left;
            color: #575757;
        }
    }
    .transactions_action {
        padding-left: 0px;
        font-size: 13px;
        line-height: 3.38;
        letter-spacing: -0.2px;
        text-align: left;
        color: #565656;
        border-width: 1px 0px 0px;
        border-color: #eaeaea;
        border-style: solid;
        img{
          width: 20px;
        }
        span {
            display: inline-block;
            vertical-align: super;
            margin-left: 10px;
        }
        &:last-child{
          border-bottom: 1px solid #eaeaea;
        }
    }
}
