@import "common";

@media (min-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
    .selected_operator {
        margin: 10px 0px;
        position: relative;

        img {
            height: 40px;
            display: inline-block;
            vertical-align: top;
            float: left;
            width: auto;
            margin-right: 10px;
        }
        span {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 25px;
            color: #b3b3b3;
        }
        .plans-operator-name{
        font-family: "gotham-thin";
        font-size: 18px;
        color: #2E2E2E;
        letter-spacing: 0.11px;
        line-height: 44px;
        }
    }
    .recharge_plans {
        // padding: 15px 0px;

        .plan {
            border-bottom: solid 1px #eaeaea;
            padding: 20px 0px;
            h3 {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.4px;
                color: #575757;
                margin-top: 0px;
                margin-bottom: 4px;
            }
            span {
                font-size: 12px;
                line-height: 1.36;
                letter-spacing: 0.1px;
                color: #828282;
                display: block;
                font-family: $regular-font;
            }
        }
    }
}
