@import "common";

@media (min-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
    .select_card {
        background-color: #fff;
        h3 {
            margin: 0px;
            font-size: 15px;
            font-weight: 600;
            font-family: $bold-font;
            letter-spacing: -0.3px;
            color: #343434;
            padding: 15px;
            border-bottom: solid 1px #e5e5e5;
        }

        ul {
            list-style: none;
            padding: 0px 15px;
        }
        li {
            padding: 15px 0px;
            img {
                background-color: #f6f6f6;
                border: solid 1px #e1e1e1;
                border-radius: 3px;
                padding: 5px;
                height: 20px;
                display: inline-block;
                vertical-align: top;
                margin: 10px;
            }
            .card_item > div {
                display: inline-block;
                vertical-align: top;
            }
            .card_cvv_form {
                margin-top: 10px;
                input {
                    height: 46px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    border: solid 1px #f07322;
                    width: 48%;
                    vertical-align: bottom;
                    padding: 10px;
                }
                button {
                    width: 48%;
                }
            }
            span {
                display: block;
            }
        }
        >#pay_button {
            margin: 0px 15px 15px;
        }
    }
}
